# Python bytecode:
*.py[co]

# SQLite3 database files:
*.db

# Logs:
*.log
.idea
# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Testing
.coverage
.tox


# Visual studio code settings
.vscode
