{% extends "base.html" %}

{% block content %}

<div class="container well" style="overflow:auto; min-height:800px;">
        <h1>Subscribe to events</h1>


{% if message %}
<p>Thank you for subscription</p>
<p><a class="btn btn-primary btn-lg" href="/event/">View Events &raquo;</a>
{% else %}
<form action = '.' method='post' class="" >
	{% csrf_token %}
	<div class="col-lg-8">
		{{ form.as_p }}
		<input type="submit" value = "subscribe" class="btn btn-info"/>
	</div>
</form>
{% endif %}

</div>

{% endblock %}